body{
  margin:0;
}
a{
  color:powderblue;
  text-decoration: none;
}
h1{
  font-size:45px;
  text-align:center;
  margin:10px;
  padding-top:20px;
}
h2{
  text-align:center;
  margin:10px;
}
/* ol{
  color:powderblue;
  margin:0px;
} */
aside{
  color:powderblue;
  margin:0px;
  width:25%;
  height:100%;
  float:left;
  background-image: url("guille-pozzi-SHcHVFhz7-M-unsplash.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  position:fixed;

}
/* 여기까지 왼쪽 고정 레이아웃 */
#background_button{
  position:fixed;
  top:10px;
  left:50px;
}
#grid{
  display:grid;
}
#article{
  position:absolute;
  padding-top:50px;
  left:30%;
  right:15%;
}
@media(max-width:1280px){
  #grid{
    display:block;
  }
  #article{
    top:250px;
    left:15%;
  }
  aside{
    width:100%;
    height:250px;
  }
}
